/* Site Layout */

html{
    height: 100%;
}
body{
    height: 100%;
}

div#BodyContainer{
    width: 800px;
    margin: 0px auto;
    min-height: 100%;
    display:block;
}

main{
    overflow: auto;
    padding-bottom: 150px;
}
div#FooterContainer{
    margin: -150px auto 0px auto;
    height: 150px;
    width: 800px;
    clear:both;
}
#TopNavContainer{
    display: block;
    height:28px;
}

nav li{
    display:inline-block;
    float:left;
    height: 20px;
    margin: 0 2px 0 0;
    padding: 4px;
}


/* General Classes */
.center{
    display: block;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clear{
    clear:both;
}

ol{
    list-style-type: decimal;
}

ol li{
    padding: 3px 0px 3px 0px;
}

ul.bullet, ol{
    -webkit-padding-start: 40px;
}

.bullet, .bullet li{
    list-style-type: disc;
    padding: 3px 0px 3px 0px;
    list-style-position: outside;
}
/* Site Appearance */

body{
    background-image: linear-gradient(bottom, #69B2FB 0%, #962F0A 91%);
    background-image: -o-linear-gradient(bottom, #69B2FB 0%, #962F0A 91%);
    background-image: -moz-linear-gradient(bottom, #69B2FB 0%, #962F0A 91%);
    background-image: -webkit-linear-gradient(bottom, #69B2FB 0%, #962F0A 91%);
    background-image: -ms-linear-gradient(bottom, #69B2FB 0%, #962F0A 91%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #69B2FB),
        color-stop(0.91, #962F0A)
    );

    color: #100000;
}

div#BodyContainer{
    background-image: linear-gradient(bottom, #BFDFFF 0%, #69B2FB 71%);
    background-image: -o-linear-gradient(bottom, #BFDFFF 0%, #69B2FB 71%);
    background-image: -moz-linear-gradient(bottom, #BFDFFF 0%, #69B2FB 71%);
    background-image: -webkit-linear-gradient(bottom, #BFDFFF 0%, #69B2FB 71%);
    background-image: -ms-linear-gradient(bottom, #BFDFFF 0%, #69B2FB 71%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #BFDFFF),
        color-stop(0.71, #69B2FB)
    );
}

h1{
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px 0px 15px 0px;
}
h2{
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px 0px 15px 0px;
}
h3{
    font-size: 1.2em;
    font-weight: bold;
    margin: 3px 0px 8px 0px;
}

nav{
    background-color:#962F0A
}

nav li{
    background-color:#BFDFFF;
}

nav li a{
    text-decoration: none;
}

