@media screen and (min-device-width: 1000px){
    html{
        width: 100%;
    }
    body{
        /*height: 100%;*/
    }

    div#BodyContainer{
        width: 100%;
        margin: 0px auto;
        padding: 5px;
        min-height: 100%;
        display:block;
    }

    /*header img{*/
        /*max-height:25%;*/
    /*}*/

    main{
        overflow: auto;
        padding-bottom: 50px;
    }

    div#FooterContainer{
        margin: -50px auto 0px auto;
        min-height: 50px;
        width: 90%;
        padding-top: 25px;
        clear:both;
    }
    #TopNavContainer{
        display: block;
        /*height:28px;*/
    }

    #TopNavContainer nav li{
        display:inline-block;
        float:left;
        height: 20px;
        margin: 0 2px 2px 0;
        padding: 4px;
    }

    #SiteMap nav ul{
        float: left;
    }

    p{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #PhpToolsContainer img, #JavascriptToolsContainer img{
        max-height: 75px;
        max-width: 75px;
    }

}